
#MainteInventoryTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

#MainteEquipmentFormBtn {
    z-index: 50; /* Increase the z-index  */
}


#MainteFacilityTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

#MainteFacilityFormBtn {
    z-index: 50; /* Increase the z-index  */
}


#View-Mainte-Equip-InventoryPopupCard{
    z-index: 50;
}



/*================== THIS IS FOR APPROVAL VIEWING IN MAINTENANCE EQUIPMENT =======================*/

#view-maintequip-pdf-content {
    padding: 1rem;
}


/*================== THIS IS FOR REPAIR VIEWING IN MAINTENANCE EQUIPMENT =======================*/

#set-item-FOREPmaintequip-pdf-content {
    padding: 1rem;
}

