#ReqSupFormCard {
    z-index: 50; /* Increase the z-index  */
}


#reqSuppTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

/*SET ITEM */
#reqSETITEMSupTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

/*SET ITEM */
#SetItemReqSupPopupCard {
    z-index: 50; /* Leave this as is */
}


#reqCOMREQSupTable thead{
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

#COMReqSupPopupCard{
    z-index: 50;
}

