#SpecFormCard {
    z-index: 50; /* Increase the z-index  */
}

#SpecFacTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

#SpecFacTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

.active-btn {
    background-color: #4F46E5; /* Tailwind Indigo color */
    color: white;
}