#EventFormCard {
    z-index: 50; /* Increase the z-index  */
}


#EventApproveTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}


#EventApproveReqTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}


#EventHistoryTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}
