#EventFormCard {
    z-index: 50; /* Increase the z-index  */
}



/* For Approval Module */
#EventApproveTable thead {
    background-color: #163172; 
    color: white; 
}



/* For Approve Request Module */
#EventApproveReqTable thead {
    background-color: #163172; 
    color: white; 
}

/* For Approve Request: Set Item Button */
#SetItemTable thead {
    background-color: #163172; 
    color: white; 
}


/* For Approve Request: Completed Button */
#CompletedTable thead {
    background-color: #163172; 
    color: white; 
}


/* For Completed Request  MAIN TABLE */
#EventComRequestTable thead {
    background-color: #163172; 
    color: white;
}

/* For Completed Request VIEW TABLE */
#ViewCompletedReqTable thead {
    background-color: #163172; 
    color: white; 
}

/* For History Module */
#EventHistoryTable thead {
    background-color: #163172; 
    color: white;
}
