#RegFormCard {
    z-index: 50; /* Increase the z-index  */
}


#RegFacTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

#RegFacTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}
