
#MainteInventoryTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

#MainteEquipmentFormBtn {
    z-index: 50; /* Increase the z-index  */
}


#MainteFacilityTable thead {
    background-color: #163172; /* Your custom background color */
    color: white; /* Your custom text color */
}

#MainteFacilityFormBtn {
    z-index: 50; /* Increase the z-index  */
}